# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# ssh shortcut
alias ncon1='ssh changhoonkim@ncon1.nhnsystem.com'
alias dgw01='ssh changhoonkim@dgw01.nhnsystem.com'
alias ssh-ev="ssh -i /Users/Naver/.ssh/aws_private_key.pem ubuntu@52.79.93.87"

# List all files colorized in long format
alias ll='ls -lh'

# List all files colorized in long format, including dot files
alias la="ls -lha"

# List only directories
alias lsd='ls -l | grep "^d"'

#alias ls='ls -GFh'
alias pg='ps -ef | grep -v "grep" | grep '
alias lg='ls | grep '
alias vim='vim -n'
alias api-hello='curl "0:5252/internal/api/hello"'
alias py='python'
alias git='/usr/local/git/bin/git'
