[alias]
        lg = log --color --graph --abbrev-commit\n           --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset'
        br = branch
        brd = branch -d
        brD = branch -D
        co = checkout
        commit = commit -v
        cm = commit -v
        st = status
        rb = rebase -i
        ch = cherry-pick
        df = diff
        rh = reset --hard
        diff-this = diff shared/master HEAD
        rev = remote -v
[color]
	ui = true
[user]
	name = changhoon-kim
	email = changhoon.kim@worksmobile.com
[credential]
	helper = store
